@charset "utf-8";
button {
  user-select: none;
}
input {
  user-select: none;
  border: none;
  outline: none;
}
.box {
  text-align: center;
}
input {
  width: 30px;
}

#order_btn {
  position: absolute;
  bottom: 100px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: calc(100vw * 0.9);
}

.updown-btn {
  width: 2.5rem;
  height: 2.5rem;
}
