{%- extends "layout.html" %}

{% block title %}確認{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/confirm.css') }}">
{% endblock %}

{%- block content %}
  <div class="container">
    <div class="me-auto">
      <div class="row">
        <div class="text-center mx-auto">
          <p class="fw-bold my-3">注文確認</p>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row mt-3 justify-content-center">
          <div class="center-block">
            <form action="/result" method="post">
              <div class="mx-auto" style="width:200px;">
                <table class="table">
                  <tbody>
                    {% if salt != 0 %}
                      <tr>
                        <td>塩</td>
                        <td class="text-end">x{{salt}}</td>
                      </tr>
                    {% endif %}
                    {% if ketchup != 0 %}
                      <tr>
                        <td>カレー</td>
                        <td class="text-end">x{{ketchup}}</td>
                      </tr>
                    {% endif %}
                    {% if cheese != 0 %}
                      <tr>
                        <td>3種のチーズ</td>
                        <td class="text-end">x{{cheese}}</td>
                      </tr>
                    {% endif %}
                    {% if butter != 0 %}
                      <tr>
                        <td>バター醤油</td>
                        <td class="text-end">x{{butter}}</td>
                      </tr>
                    {% endif %}
                    <tr class="table-active table-group-divider">
                      <td>合計</td>
                      <td class="text-end">￥{{sum_price}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <p class="mt-4 text-danger">＊注文ボタンを押すとキャンセルができませんのでご注意ください。</p>
              <div class="d-none">
                <select aria-label="Default select example" name="cheese">
                  <option selected="selected">{{cheese}}</option>
                </select>
                <select aria-label="Default select example" name="butter">
                  <option selected="selected">{{butter}}</option>
                </select>
                <select aria-label="Default select example" name="salt">
                  <option selected="selected">{{salt}}</option>
                </select>
                <select aria-label="Default select example" name="ketchup">
                  <option selected="selected">{{ketchup}}</option>
                </select>
              </div>
              <div class="row justify-content-between" id="order-btn">
                <a class="btn btn-secondary text-white col-4" id="cancel-btn" href="order">キャンセル</a>
                <div class="spinner-border text-dark d-none" id="loading" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
                <button type="submit" class="btn btn-primary col-4">注文する</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{%- endblock %}

{%- block javascript %}
  <script type="text/javascript" src="{{ url_for('static', filename='js/confirm.js') }}"></script>
{%- endblock %}