{%- extends "layout.html" %}

{% block title %}注文{% endblock %}

{%- block css %}
  <link type="text/stylesheet" src="{{ url_for('static', filename='css/orders.css') }}">
{%- endblock %}

{%- block content %}
  <h1>注文のページです</h1>
  <p>全品２００円です！</p>
  {# inputタグのdisabledの挙動が怪しい場合、readonly属性に変更してみてください #}
  <form action="/confirm" method="post">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="card col text-center menu pb-1 pt-1 mb-2 ms-2 me-1">
          <font size="5" face="HGP行書体">
            <p>塩</p>
          </font>
          <div class="spin">
            <button id="salt_down" class="spin-minus rounded-circle" type="button">
              －
            </button>
            <input id="salt" name="salt" type="number" class="spin-input text-center" min="0" max="3" step="1" value="0" readonly="readonly">
            <button id="salt_up" class="spin-plus rounded-circle" type="button">
              ＋
            </button>
          </div>
        </div>
        <div class="card col text-center menu pb-1 pt-1 mb-2 ms-1 me-2">
          <font size="5" face="HGP行書体">
            <p>ケチャップ</p>
          </font>
          <div class="spin">
            <button id="catsup_down" class="spin-minus rounded-circle" type="button">
              －
            </button>
            <input id="catsup" name="ketchup" type="number" class="spin-input text-center" min="0" max="3" step="1" value="0" readonly="readonly">
            <button id="catsup_up" class="spin-plus rounded-circle" type="button">
              ＋
            </button>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="card col text-center menu pb-1 pt-1 mb-2 ms-2 me-1">
          <font size="5" face="HGP行書体">
            <p>三種のチーズ</p>
          </font>
          <div class="spin">
            <button id="cheese_down" class="spin-minus rounded-circle" type="button">
              －
            </button>
            <input id="cheese" name="cheese" type="number" class="spin-input text-center" min="0" max="3" step="1" value="0" readonly="readonly">
            <button id="cheese_up" class="spin-plus rounded-circle" type="button">
              ＋
            </button>
          </div>
        </div>
        <div class="card col text-center menu pb-1 pt-1 mb-2 ms-1 me-2">
          <font size="5" face="HGP行書体">
            <p>バター醤油</p>
          </font>
          <div class="spin">
            <button id="butter_down" class="spin-minus rounded-circle" type="button">
              －
            </button>
            <input id="butter" name="butter" type="number" class="spin-input text-center" min="0" max="3" step="1" value="0" readonly="readonly">
            <button id="butter_up" class="spin-plus rounded-circle" type="button">
              ＋
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="confirm">
    注文確認
  </button>
</form>

<div id="result" class="result">
  0
</div>

{%- endblock %}

{%- block javascript %}
<script type="text/javascript" src="{{ url_for('static', filename='js/orders.js') }}"></script>
{%- endblock %}
