{%- extends "layout.html" %}

{% block title %}注文{% endblock %}

{%- block css %}
  <link type="text/stylesheet" src="{{ url_for('static', filename='css/orders.css') }}">
{%- endblock %}

{%- block content %}
  <h1>注文のページです</h1>
  <p>全品２００円です！</p>
  {# inputタグのdisabledの挙動が怪しい場合、readonly属性に変更してみてください #}
  <div class="card menu mr-5">
    <p>塩</p>
    <div class="spin">
      <button id="salt_down" class="spin-minus" disabled="disabled">
        -
      </button>
      <input id="salt" type="number" class="spin-input" min="0" max="3" step="1" value="0" disabled="disabled">
      <button id="salt_up" class="spin-plus">
        +
      </button>
    </div>
  </div>
  <div class="card menu">
    <p>ケチャップ</p>
    <div class="spin">
      <button id="catsup_down" class="spin-minus" disabled="disabled">
        -
      </button>
      <input id="catsup" type="number" class="spin-input" min="0" max="3" step="1" value="0" disabled="disabled">
      <button id="catsup_up" class="spin-plus">
        +
      </button>
    </div>
  </div>
  <div class="card menu">
    <p>三種のチーズ</p>
    <div class="spin">
      <button id="cheese_down" class="spin-minus" disabled="disabled">
        -
      </button>
      <input id="cheese" type="number" class="spin-input" min="0" max="3" step="1" value="0" disabled="disabled">
      <button id="cheese_up" class="spin-plus">
        +
      </button>
    </div>
  </div>
  <div class="card menu">
    <p>バター醤油</p>
    <div class="spin">
      <button id="butter_down" class="spin-minus" disabled="disabled">
        -
      </button>
      <input id="butter" type="number" class="spin-input" min="0" max="3" step="1" value="0" disabled="disabled">
      <button id="butter_up" class="spin-plus">
        +
      </button>
    </div>
  </div>

  <div id="result" class="result">
    0
  </div>

{%- endblock %}

{%- block javascript %}
  <script type="text/javascript" src="{{ url_for('static', filename='js/orders.js') }}"></script>
{%- endblock %}
